/* main quiz body*/
.quiz{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  
  /* todo: for mobile bottom margin is not there*/
  margin: var(--spacing-400) var(--spacing-300);
}

.quiz__welcome-message{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: var(--font-xxl);
  line-height: 1;
  margin-bottom: var(--spacing-200);
  color: var(--color-blue-900);
}

.quiz__welcome-message-light{
  font-weight: 300;
  color: var(--color-blue-900);
}

.quiz__description{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: var(--font-xs);
  line-height: 1.5;
  color: var(--color-grey-500);
}

.quiz__question-container{
  display: flex;
  flex-direction: column;
}

.quiz__question-number{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: var(--font-xs);
  line-height: 1.5;
  color: var(--color-grey-500);
  margin-bottom: var(--spacing-200);
}

.quiz__current-question{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: var(--font-base);
  line-height: 1.2;
  color: var(--color-blue-900);
  margin-bottom: var(--spacing-300);
}

.quiz__progress-container{
  background-color: var(--color-white);
  padding: 0.25rem;
  border-radius: 1rem;
}

.quiz__progress-bar{
  height: 0.5rem;
  background-color: var(--color-purple-600);
  border-radius: 0.5rem;
  
  /*todo: adjust dynamically using js*/
  width: 50%;
}

/* options */

.quiz__options-container{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.quiz__options-group{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.quiz__options-label{
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: var(--spacing-200);
  border: 3px solid transparent;
  border-radius: 0.75rem;
}

.quiz__options-label--selected{
  border: 3px solid var(--color-purple-600);
}

.quiz__options-label--correct{
  border: 3px solid var(--color-green-500);
}

.quiz__options-label--incorrect{
  border: 3px solid var(--color-red-500);
}

.quiz__options-radio{
  display: none;
}

.quiz__options-icon-container{
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-50);
  border-radius: 0.375rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.quiz__options-icon-container--correct{
  background-color: var(--color-green-500);
}

.quiz__options-icon-container--incorrect{
  background-color: var(--color-red-500);
}

.quiz__options-icon{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: var(--font-sm);
  line-height: 1;
  color: var(--color-grey-500);
}

.quiz__options-icon--correct{
  color: var(--color-white)
}

.quiz__options-icon--incorrect{
  color: var(--color-white)
}

.quiz__options-language-icon{
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.375rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.quiz__options-value{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: var(--font-sm);
  line-height: 1;
  color: var(--color-blue-900);
}

.quiz__options-correct-icon{
  height: 2rem;
  width: 2rem;
  /*padding: 0.25rem;*/
  margin-left: auto;
}

/* next question button */
.quiz__next-question-button{
  padding: var(--spacing-200);
  background-color: var(--color-purple-600);
  border: none;
  border-radius: 0.75rem;
  color: var(--color-white);
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: var(--font-sm);
  line-height: 1;
}

.quiz__error-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.quiz__error-icon{
  height: 2rem;
  width: 2rem;
}

.quiz__error{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: var(--font-sm);
  line-height: 1;
  color: var(--color-red-500);
}

.quiz__score-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0.75rem;
  padding: var(--spacing-400);
}

.quiz__score-language{
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.quiz__score-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

.quiz__score-points{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 1;
  color: var(--color-blue-900);
}

.quiz__score-out-of{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: var(--font-sm);
  line-height: 1;
  color: var(--color-grey-500);
}

/*@media (min-width: 48rem) {  */
@media (min-width: 600px) {
  .quiz{
    margin-top: 0;
    margin-left: var(--spacing-800);
    margin-right: var(--spacing-800);
    height: 100%;
  }
  
  .quiz__welcome-message{
    font-size: var(--font-xxxl);
  }
  
  .quiz__description{
    font-size: var(--font-base);
  }
  
  .quiz__question-number{
    font-size: var(--font-base);
  }
  
  .quiz__current-question{
    font-size: var(--font-xl);
  }
  
  .quiz__options-icon-container{
    height: 3.5rem;
    width: 3.5rem;
  }
  
  .quiz__options-icon{
    font-size: var(--font-lg);
    /*border-radius: 0.75rem;*/
  }
  
  .quiz__options-language-icon {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
  }
  
  .quiz__options-value{
    font-size: var(--font-lg);
  }
  
  .quiz__options-correct-icon{
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .quiz__options-group{
    gap: var(--spacing-300);
  }
  
  .quiz__options-container{
    gap: var(--spacing-400);
  }
  
  .quiz__next-question-button{
    padding: var(--spacing-400);
    border-radius: 1.5rem;
    font-size: var(--font-lg);
  }
  
  .quiz__current-question{
    margin-bottom: var(--spacing-500);
  }
  
  .quiz__error-icon{
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .quiz__error{
    font-size: var(--font-md);
    line-height: 1.5;
  }
  
  .quiz__score-language{
    gap: var(--spacing-300);
  }
  
  .quiz__score-points{
    font-size: 9rem;
  }
  
  .quiz__score-card{
    padding: var(--spacing-600);
    gap: var(--spacing-500);
  }
}


@media (min-width: 1024px) {
  .quiz{
    flex-direction: row;
    gap: 5rem;
    /*margin: 0 80px;*/
    margin: auto 80px;
  }
  
  .quiz__welcome-message{
    margin-bottom: var(--spacing-600);
  }
  
  .quiz__options-label{
    padding: var(--spacing-300);
  }
  
  .quiz__question-container{
    flex: 1;
    max-width: 465px;
  }
  
  .quiz__options-container {
    flex: 1;
  }
  
  .quiz__current-question{
    margin-bottom: var(--spacing-2300);
  }
}

@media (min-width: 90rem) {
  .quiz{
    gap: var(--spacing-1800);
    /*margin: 0 140px;*/
    margin: auto 140px;
  }
}